@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --max-width: 1100px;
  --max-height: 100vh;
  
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.left-10{
  left: 10px;
}
.clr-pink{
  color:#F9415A;
  cursor: pointer;
}
.topsection{
  position: absolute;
    top: 10px;
}
.padding-3em{
  padding: 3em;
  text-align: center;
  position: relative;
}

.padding-3em h6{
  font-size: 29px;
    position: absolute;
    letter-spacing: 0px;
    color: #383838;
    right: 4em;
    top: 5.5em;
}


.horizontal-slider{
  margin-bottom: 3em;
}
.example-track-0{
  background-color: #F2F2F2;
    height: 12px;
}
.example-track-1{
  background-color: #F9415A;
    height: 12px;
}
.example-track-2{
  background-color: #F2F2F2;
    height: 12px;
}
.example-thumb-0{
  background: #F9415A 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #F9415A;
    opacity: 1;
    padding: 3px;
    border-radius: 50%;
    border: 10px solid #fff;
    top: -12px;
    min-width: 28px;
    width: 34px;
    height: 34px;
    cursor: grab;
}
.example-thumb-1{
  background: #F9415A 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 2px #F9415A;
    opacity: 1;
    padding: 3px;
    border-radius: 50%;
    border: 10px solid #fff;
    top: -12px;
    min-width: 28px;
    width: 34px;
    height: 34px;
  cursor: grab;
}
.example-thumb-1#text{
  color: #F2F2F2;
}
.slider-text{
  color: #1f1b1b;
    position: relative;
    top: 1.5em;
    display: block;
    width: max-content;
}
.mrg-top-2-5{
  margin-top: 2.5em !important;
}
.white-btn{
  border: 2px solid #F9415A;
border-radius: 35px 35px 38px 35px;
opacity: 1;
letter-spacing: 0px;
color: #F9415A;
width: 238px;
height: 73px;
cursor: pointer;
background-color: #FFFFFF;

}
.red-btn{
  background: #F9415A 0% 0% no-repeat padding-box;
  border-radius: 35px 35px 38px 35px;
  border: none;
  width: 238px;
height: 73px;
cursor: pointer;
letter-spacing: 0px;
color: #FFFFFF;
}
.main-set{
  height: 100vh;
    display: flex;
    align-items: center;
}
.hgt-100vh{
  height: 100vh;
}
.brd-inptx{
  padding: 0.75rem 0.75rem;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  background-color: #fff !important;
}
.input-group>.form-control{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.form-control, .form-select {
  border-radius: 20px !important;
}
.form-control:focus, .form-select:focus {
  border-color: #000 !important;
  box-shadow: none !important;
}
.side-padding{
  height: auto;
  display: flex;
  position: relative;
  top: 3em;
}

.left-padding{
  padding: 0 12em !important;
  display: flex;
  align-items: center;
}
.left-padding-new{
  padding: 0 12em !important;
}
.side-padding .right-padding{
  /* margin-top: 5em; */
  padding: 0px 50px !important;
}

.signup-btn{
  width: 100%;
height: 73px;
background: #F9415A 0% 0% no-repeat padding-box;
border-radius: 35px;
color: #FFFFFF;
border: none;
cursor: pointer;
margin-top: 1em;
}
.skip-btn{
  width: 100%;
height: 73px;
border: 2px solid #F9415A;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 35px;
color: #F9415A;
cursor: pointer;
margin-top: 1em;
}
.carousel-item{
  width: 400px;
  text-align: center;
}
.carousel img{
  width: 100%;
  height: 80vh;
}
.carousel-control-prev,
.carousel-control-next {
  display: none !important; /* Hide the navigation icons */
}
.carousel-indicators button{
  background-color: #FFC1C2 !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  border: 2px solid #FFFFFF !important;

}
.carousel-indicators button.active{
  background-color: #F16758 !important;
  border: 2px solid #FFFFFF !important;

}
.otpInput{
  justify-content: center;
}
.otpInput .otpDiv{
  display: flex;
  justify-content: center;
}
.otpInput input{
  width: 34px !important;
height: 53px  !important;
  background: #F6F6F6 0% 0% no-repeat padding-box;
border-radius: 9px;
border: 0.5px solid #ddd;
}
.resendDiv{
  letter-spacing: 0px;
color: #616A78;
}
.resendBtn{
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: #F9336A;
  cursor: pointer;
}

.resendOtp{
  justify-content: center;
  flex-direction: row-reverse;
}

.editIcon{
  width: 14px;
  height: 14px;
  cursor: pointer; 
}
.profilePic{
  width: 80px;
  height: 80px;
  background: transparent;
  /* border: 6px solid #F9336A; */
  opacity: 1;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}
.brd-left{
  border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.mobile{
letter-spacing: 0px;
color: #917171;
}
.mobile span{
  letter-spacing: 0px;
color: #F9415A;
text-transform: capitalize;
text-decoration: underline;
}
.form-check-input:checked {
  background-color: #F9336A !important;
  border-color: #F9336A !important;
}
.form-check-input:focus {
  box-shadow: none !important;
}
.upload-fle-div{
  display: flex;
  justify-content: space-between;
    background: #F6F6F6 0% 0% no-repeat padding-box;
    padding: 14px 10px;
    border-radius: 20px;
    color: #B1B1B1;
}

.upload-fle{
    display: flex;
    border: 1px solid #D7384E;
    border-radius: 34px;
    color: #F9415A;
    cursor: pointer;
background-color: transparent;
width: 103px;
height: 40px;
align-items: center;
    justify-content: center;
  margin-bottom: 0px !important;
}
.wd-100{
  width: 100%;
}
.modal-content {
  border-radius: 20px !important;
}
.header-profile{
  display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: end;
    letter-spacing: 0px;
  color: #AAAAAA;
  opacity: 1;
}
.header-profile h5{
  color: #303030;
}
.bellIcon{
  width: 33px;
  height: 36px;
  color: #AAAAAA;
}
.notify{
  position: absolute;
    border-radius: 50% !important;
    padding: 3px 6px !important;
    left: 24px;
    top: 0;
    border: 2px solid #FFF;
    background-color: #F9415A;
}
.bg-Img{
  background-image: url('../../public/assets/dashboardBanner.png');
  background-size: 100% 100%;
    height: 300px;
    background-repeat: no-repeat;
}
.dashboard-col{
  position: relative;
  top: -9em;
 padding: 0 7em;
}
.dashboard-col .container>h6{
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: 1.5em;
  padding-left: 0.5em;
  font-size: 25px;
  font-weight: 600;
  margin-left: 3em;
  
}
.dashboard-list{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 0 5em;
}
.dashboard-list li{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 35px 38px #A7A7A729;
border-radius: 30px;
opacity: 1;
padding: 20px 20px;
display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;

}
@media(max-width:1600px){
  .left-padding{
    padding: 0 4em !important;
  }
  .left-padding-new{
    padding: 0 4em !important;
  }
  .padding-3em h6 {
    font-size: 18px;
    right: 5.5em;
    top: 7em;
  }

  .white-btn, .red-btn{
    width: 180px;
    height: 40px;
  }
  .signup-btn{
    height: 50px;
  }
  .skip-btn{
    height: 50px;
  }
}

@media (min-width:1900px){
  .dashboard-list{
    gap: 32px;
    margin: auto;
  }
  .dashboard-col{
    top: -10.3em;
  }
  .dashboard-col .container>h6{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 1em;
    margin-left: 0;
  }
}